@import url("/components/comment/comment.css");
@import url("/components/meme/meme.css");
@import url("/components/vote/vote.css");

body, h1 {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: arial, sans-serif;
}

a {
  color: #15c;
  cursor: pointer;
  text-decoration: underline;
}

div.clear {
  clear: both;
}

.visible_false,
.notVisible_true {
  visibility: hidden;
}

.display_false,
.notDisplay_true {
  display: none;
}


.msg {
  position: fixed;
  top: -3px;
  /** left is calculated by js */
  border-radius: 3px;
  background-color: orange;
  border: 1px gray solid;
  padding: 3px 10px 1px;
  font-weight: bold;
  font-size: 0.9em;
  z-index: 10;
}

.msg.error {
  background-color: red;
}

h1#header {
  background-color: rgba(0,0,0,0.05);
  border-bottom: 1px gray solid;
  font-family: Impact;
  font-style: italic;
  font-weight: normal;
  color: #036;
  cursor: pointer;
  margin: 0;
}

h1#header {
  letter-spacing: 1px;
}

.extensionAd {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
}
.extensionLink, .extensionImg {
  vertical-align: middle;
}
.extensionImg {
  height: 32px;
  width: 32px;
}

#sidePane {
  width: 150px;
  float: left;
  margin: 1em 0 0 1em;
}

#sidePane a {
  display: block;
  margin-top: 15px;
}

.uploadHelperText {
  position: absolute;
  top: 56px;
  text-align: center;
  width: 300px;
  color: gray;
  line-height: 1.4em;
  font-size: 15px;
}
.imageWithUpload {
  float: left;
  position: relative;
}

button, input {
  font-size: 1em;
  margin: 0;
}

a {
  color: #15c;
}

#contentPane {
  margin: 1em 0 0 170px;
}

.pleaseLoginMessage.isLoggedIn_true {
  display: none;
}

.create {
  margin: 1em 1em 1em 0;
}

.uploadFile {
  width: 300px;
  display: none;
}
.create .form {
  float: left;
}

.create .form textarea,
.preview {
  min-width: 300px;
  margin: 0;
  padding: 0px;
}

.create .form textarea {
  padding: 2px;
  height: 57px;
  border: 1px gray solid;
}

img.preview {
  border: 1px gray solid;
  min-height: 200px;
  margin-right: 1em;
  height: 200px;
  float: left; /* to remove strange space below */
}

.pagination {
  clear: both;
  text-align: center;
  margin-bottom: 10px;
  user-select: none;
}

#pagination span {
  cursor: pointer;
  margin: 0 20px;
}
