#header {
	height: 60px;
	font-family: Impact;
}

#side_bar {
	width: 150px;
	float: left;
	font-family: Impact;	
}

#main_area{
	margin-left: 170px;
}

.meme {
	display: inline-block;
	padding-right: 20px;
	position: relative;
}

.meme img {
	display: inline-block;
	height: 180px;
}

.meme span {
	float: left;
	padding-bottom: 20px;
}