body, h1 {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: arial, sans-serif;
}

h1#header {
  font-weight: normal;
  font-family: Impact;
  color: #036;
  border-bottom: 1px gray solid;
  margin: 0;
  font-style: italic;
  background-color: rgba(0,0,0,0.1);
}

h1#header {
  letter-spacing: 1px;
}

#side_bar {
  width: 150px;
  float: left;
  margin: 1em 0 0 1em;
}

.uploadHelperText{
  position: absolute;
  top: 166px;
  text-align: center;
  width: 300px;
  color: gray;
}

button, input {
  font-size: 1em;
  margin: 0;
}

a {
  color: #15c;
}

#main_area{
  margin: 1em 170px;
}

.upload {
  margin: 1em 1em 1em 0;
  box-shadow: 2px 2px 10px gray;
  background-color: white;
  padding: 10px;
  float: left;
}

.uploadFile {
  width: 300px;
}
.upload form textarea {
  margin: 0;
}

.upload form textarea,
img.preview {
  border: 1px gray solid;
  min-width: 300px;
  margin: 0;
  padding: 0px;
}

img.preview {
  height: 200px;
  margin-top: .5em;
}

.meme {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 200px;
}

.meme.memeSmall {
    cursor: pointer;
}

.meme img {
  display: inline-block;
  height: 200px;
  border: 1px gray solid;
}


.meme span {
  display: none;
  float: left;
  padding-bottom: 20px;
}

.meme .message {
  color: #fff;
  font-family: Impact;
  font-size: 30px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-color: #444;
  -webkit-text-stroke-width: 1px;
  white-space: nowrap;
  display: none;
  cursor: pointer;  
}

.meme.memeBig .message {
  -webkit-text-stroke-width: 2px;
}

.meme.memeBig .message.long {
  -webkit-text-stroke-width: 1px;
  }

.meme .top-left {
  position: absolute;
  text-align: left;
  top: 5px;
}

.meme .top-center {
  position: absolute;
  text-align: center;
  top: 5px;
}

.meme .top-right {
  position: absolute;
  text-align: left;
  top: 5px;
}

.meme .center-left {
  position: absolute;
  text-align: left;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
}

.meme .center-center {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
}

.meme .center-right {
  position: absolute;
  text-align: left;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
}

.meme .bottom-left {
  position: absolute;
  text-align: left;
  bottom: 5px;
}

.meme .bottom-center {
  position: absolute;
  text-align: center;
  bottom: 5px;
}

.meme .bottom-right {
  position: absolute;
  text-align: left;
  bottom: 5px;
}

.meme.memeBig .bottom-center {
    bottom: 20px;
}


.meme.memeBig {
  height: auto;
}

.meme.memeBig img {
  height: auto;
}

.meme.memeBig .message {
  font-size: 50px;
}

