body, h1 {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: arial, sans-serif;
}

div.clear {
  clear: both;
}

.msg {
  position: fixed;
  top: -3px;
  /** left is calculated by js */
  border-radius: 3px;
  background-color: orange;
  border: 1px gray solid;
  padding: 3px 10px 1px;
  font-weight: bold;
  font-size: 0.9em;
}

.msg.error {
  background-color: red;
}

h1#header {
  font-weight: normal;
  font-family: Impact;
  color: #036;
  border-bottom: 1px gray solid;
  margin: 0;
  font-style: italic;
  background-color: rgba(0,0,0,0.1);
}

h1#header {
  letter-spacing: 1px;
}

.plugin-button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  font-family: arial, sans-serif;
}

.plugin-link {
  text-decoration: underline;
  color: #15c;
  cursor: pointer;
  vertical-align: middle;
}

.plugin-img {
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

#sidePane {
  width: 150px;
  float: left;
  margin: 1em 0 0 1em;
}

#sidePane.isLoggedIn_false {
  visibility: hidden;
}

.uploadHelperText {
  position: absolute;
  top: 56px;
  text-align: center;
  width: 300px;
  color: gray;
  line-height: 1.4em;
  font-size: 15px;
}
.imageWithUpload {
  float: left;
  position: relative;
}

button, input {
  font-size: 1em;
  margin: 0;
}

a {
  color: #15c;
}

#contentPane {
  margin: 1em 0 0 170px;
}

.pleaseLoginMessage.isLoggedIn_true {
  display: none;
}

.upload {
  margin: 1em 1em 1em 0;
}

.uploadFile {
  width: 300px;
  display: none;
}
.upload .form {
  float: left;
}

.upload .form textarea,
.preview {
  min-width: 300px;
  margin: 0;
  padding: 0px;
}

.upload .form textarea {
  padding: 2px;
  height: 57px;
  border: 1px gray solid;
}

img.preview {
  border: 1px gray solid;
  min-height: 200px;
  margin-right: 1em;
  height: 200px;
  float: left; /* to remove strange space below */
}

.meme {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}

.memePreview {
}

.meme .emptyImage {
  width: 300px;
  height: 200px;
  border: 1px gray solid;
}

.meme.memeSmall {
  cursor: pointer;
  height: 200px;
}

.meme img {
  display: inline-block;
  height: 200px;
  border: 1px gray solid;
}

.meme span {
  display: none;
  float: left;
  padding-bottom: 20px;
}

.meme .message {
  color: #fff;
  font-family: Impact;
  font-size: 30px;
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 2px 2px 0 black, -2px 2px 0 black, -2px -2px 0 black, 2px -2px 0 black;
  white-space: nowrap;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.meme .top-center {
  position: absolute;
  text-align: center;
  top: 5px;
}

.meme .center-left {
  position: absolute;
  text-align: left;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
}

.meme .center-center {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -15px;
  line-height: 30px;
}

.meme .bottom-center {
  position: absolute;
  text-align: center;
  bottom: 5px;
}

.meme.memeBig .bottom-center {
    bottom: 20px;
}

.meme.memeBig {
  height: auto;
}

.meme.memeBig img {
  height: auto;
  min-height: 500px;
}

.meme.memeBig .message {
  font-size: 50px;
}

.vote {
  background: #888;
  border-radius: 10px 0 0 10px;
  bottom: 0;
  display: none;
  height: 80px;
  position: absolute;
  right: 0;
  width: 30px;
}

.vote .like {
  background: url(/img/good.png) no-repeat 50% 50%;
  height: 30px;
  width: 30px;
}

.vote .dislike {
  background: url(/img/bad.png) no-repeat 50% 50%;
  height: 30px;
  width: 30px;
}

.vote .text {
  color: #fff;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.meme:hover .vote {
  display: block;
}
