.vote {
  border-radius: 0 0 10px 10px;
}

.vote .like,
.vote .dislike {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.vote .like {
  background: url(/img/good.png) no-repeat 50% 50%;
}
.vote .dislike {
  background: url(/img/bad.png) no-repeat 50% 50%;
}

.vote .text {
  color: gray;
  font-weight: bold;
  display: inline-block;
  line-height: 24px;
  vertical-align: text-bottom;
}
